* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Inter", sans-serif;
}

/* common css */
.common-container{
    max-width: 1270px;
    margin: 0 auto;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

nav ul{
    display: flex;
    gap:32px;
}
nav li{
    list-style: none;
    display: inline;
    /* padding-right: 32px; */
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.btn-1{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    color: white;
    font-size: 16px;
}

.banner{
    
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
  


}

.text-center{
    text-align: center;
}

.banner h1{
    font-size: 72px;
}

.banner-inside h2 {
  display: flex;
  align-items: center;
  gap: 8px; /* space between circles and text */
}

.circle-container {
  position: relative;
  width: 16px;   /* largest circle size */
  height: 16px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.circle.small {
  width: 6px;
  height: 6px;
  background: rgba(70, 145, 101, 1);
}

.circle.medium {
  width: 12px;
  height: 12px;
  background: rgba(70, 145, 101, 0.4);
}

.circle.largest {
  width: 16px;
  height: 16px;
  background: rgba(70, 145, 101, 0.2);
}

.banner-inside h1{
    margin: 16px 0;
}
.banner-inside h2{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
   border-radius: 1000px;
background: rgba(255, 255, 255, 1);
padding: 6px 12px;
max-width: max-content;
margin: 0 auto;
}

.banner h1 span:nth-of-type(1){
    font-size: 72px;
    color: white;
    font-size: 72px;
font-weight: 700;


}


.banner h1 span:nth-of-type(2){

    color: #30B868;
    font-size: 72px;
font-weight: 700;
line-height: 84px;

}


.banner p{
    font-size: 18px;
    color: white;
    font-weight:400;
    line-height: 24px;

}

.banner button:nth-of-type(1){
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    color: white; 
}

.banner button:nth-of-type(2){
   display: inline-flex;
  align-items: center;
  gap: 8px;

  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.triangle-outline {
  height: 16px;         
  width: auto;           
}
.banner-button-class{
    display: flex;
    gap:16px;
    justify-content: center;
    padding: 30px;
}

.feature-section{
    padding-top: 50px;
}

.feature-section h1{
    font-size: 48px;
    margin-bottom: 16px;
}


.feature-section h2{
    font-size: 16px;
    margin-bottom: 44px;
    color: #627382;
    font-weight: normal;
}

.card-container {
  display: flex;
  gap: 24px;
  align-items: flex-start; 
}

.card {
  width: 300px;
  height: 280px;      
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.06);
  background: white;
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-circle img {
  max-width: 40px;
  max-height: 40px;
}

.card p{
    color: rgba(98, 115, 130, 1);
}

.solution-section{
    display:flex;
    gap: 70px;
    
    margin: 120px auto;
}

.solution-details{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

.solution-section h2{
    margin-bottom: 10px;
    color:#30B868;
    font-size: 16px;
    font-weight: 700;
}
.solution-section h1{
    margin-bottom: 10px;
}
.solution-section p{
    margin-bottom: 40px;
    font-size: 16px;
    color: rgba(98, 115, 130, 1);

}

.solution-section ul {
    list-style: none; 
    padding-left: 0;
}

.solution-section li {
    font-size: 16px;
    font-weight: 500;
    position: relative;              
    padding-left: 28px;              
    margin-bottom: 12px;             
}

.solution-section li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);     
    width: 20px;                     
    height: 20px;                    
    background-image: url(./assets/CheckCircle.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.early-access-section{
    background-color: #F7F6F2;
    padding: 80px 0;
}

.early-access-section h2{
    font-size: 40px;
    margin-bottom: 16px;
    font-weight: 700;
}

.early-access-section h3{
    color: #627382;
    font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.early-access-section button{
    margin: 24px 0;
}

.early-access-section p{
    color: #627382;
    font-size: 16px;
font-weight: 400;
line-height: 24px;
}

footer{
    background-color: rgba(0, 25, 49, 1);
    color: white;
    padding: 120px 120px 30px 120px;
    margin-top: 120px;
}

.social-icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  font-size: 24px;
  color: #000;
  margin: 5px;
}


.footer-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.copy-right{
    border-top: 1px solid rgba(229, 231, 235, 0.2);
    padding: 30px 0 10px 0;
     

}

.social-link{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.social-icons i {
  display: inline-flex;           
  justify-content: center;        
  align-items: center;            
  width: 20px;                    
  height: 20px;
  background-color: white;        
  color: black;                  
  border-radius: 50%;             
  font-size: 12px;                
  margin: 5px;                    
}   



button {
  transition: transform 0.2s ease;
  display: inline-flex;
  align-items: center;
  gap: 8px;          


}

button:hover {
  transform: scale(1.12);
   cursor: pointer;
}
